/dist
/node_modules
/build
/build-*/
/test-distribution/*.zip
/renderer
extras/wmdp-driver-helper.exe
extras/LIBWDI-SOURCE-v1.5.1-wmdp.zip
extras/LIBWDI-COPYING-LGPLv3.txt
extras/WMDP-DRIVER-HELPER-NOTICE.txt
SOURCE-MODIFICATIONS
MODIFIED-BUILD-NOTICE.txt
!custom-overrides/MODIFIED-BUILD-NOTICE.txt

*.local
EKBROOTS.DES
